* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FF0043;
}

header, footer {
    display: flex;
    margin: 15px;
}

#dataChange {
    font-size: large;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 5px;
}

#canvas {
    width: 100%;
    height: 351px;
}